@font-face {
  font-family: 'Kollektif';
  font-weight: bold;
  font-style: normal;
  src: url('/fileadmin/fnt/Kollektif-Bold.woff2') format('woff2'),url('/fileadmin/fnt/Kollektif-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Kollektif';
  font-weight: bold;
  font-style: italic;
  src: url('/fileadmin/fnt/Kollektif-BoldItalic.woff2') format('woff2'),url('/fileadmin/fnt/Kollektif-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Kollektif';
  font-weight: normal;
  font-style: normal;
  src: url('/fileadmin/fnt/Kollektif-Regular.woff2') format('woff2'),url('/fileadmin/fnt/Kollektif-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-regular.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 600;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-600.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 800;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-800.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-800.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 900;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-900.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-900.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-italic.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 600;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-600italic.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-600italic.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-700italic.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-700italic.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 900;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-900italic.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-900italic.woff') format('woff');
}

.btn-flat {
  margin: 10px 60px;
  color: white;
  padding: 20px;
  border-radius: 4px;
  background: #DF0B36;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #ff0033;
  color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 696px;
}

.banner h1 {
  font-family: Kollektif;
  margin: 10px 60px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
}

.banner p {
  width: 661px;
  margin: 10px 60px;
  font-family: Kollektif;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
  letter-spacing: -0.8px;
}

.frame10 {
  display: flex;
  padding: 160px 100px;
  align-items: center;


flex-direction: column;

gap: 40px;
}

.frame10 h1 {
  height: 48px;
  color: black;
  text-align: center;
  font-family: Kollektif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
}

.frame10-inside {
  /* padding-top: 20px; */
  width: 795px;
  color: black;
  font-family: Vollkorn;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

.frame10-inside li {
  margin-left: 30px;
}

.frame14 {
  background-color: #03A262;
  padding: 160px 250px 160px 100px;
  justify-content: center;
  align-items: center;
}

.frame16 {
  width: 930px;
}

.frame16 h2 {
  color: rgb(255, 255, 255);
font-family: Kollektif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.8px;
margin-bottom: 40px;
}

.frame16 p {
  color: white;
  font-family: Vollkorn;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

.dropdowna {
  font-family: Kollektif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 705px;
  padding: 19px 43px 19px 40px;
  align-items: center;
  gap: -100px;
  background-color: white;
  justify-content: space-between;
}

.dropdowna a {
  color: black;
}

.frame11 {
  margin-bottom: 40px;
}

.banner2 {
  display: flex;
}

.banner2 h1 {
  font-family: Kollektif;
  margin: 10px 60px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
}

.banner2 p {
  width: 661px;
  margin: 10px 60px;
  font-family: Kollektif;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
  letter-spacing: -0.8px;
}

.banner2 img {

}

.group22 {
  display: flex;
width: 1280px;
padding: 160px 100px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.group22 img {
  width: 477px;
height: 477px;
justify-content: space-between;
border-radius: 477px;
opacity: 0.5;
position: absolute;
top: 80px;
right: 0;
width: 200px;
height: 100px;
}
