#p {
    /* 10 */
    --spc-s: 0.556rem;
    /* 20 */
    --spc-m: calc(2 * var(--spc-s));
    /* 40 */
    --spc-l: clamp(1rem, min(5vw, 5vh), calc(2 * var(--spc-m)));
    --spc-xl: clamp(2rem, min(5vw, 5vh), calc(2 * var(--spc-l)));
    --spc-xxl: clamp(3rem, min(10vw, 10vh), calc(2 * var(--spc-xl)));
    --spc-xxxl: clamp(5rem, min(15vw, 15vh), calc(2 * var(--spc-xxl)));

    --font-s: clamp(1rem, calc(1rem + (1.4 - 1) * ((100vw - 19.4rem) / (66.7 - 19.4))), 1.4rem);
    --font-m: clamp(1.5rem, calc(1.5rem + (2.2 - 1.5) * ((100vw - 19.4rem) / (66.7 - 19.4))), 2.2rem);
    --font-l: clamp(2rem, calc(2rem + (3.3 - 2) * ((100vw - 19.4rem) / (66.7 - 19.4))), 3.3rem);

    --font-p: clamp(0.9rem, calc(0.9rem + (1 - 0.9) * ((100vw - 19.4rem) / (66.7 - 19.4))), 1rem);
    --font-big: clamp(1rem, calc(1rem + (1.2 - 1) * ((100vw - 19.4rem) / (66.7 - 19.4))), 1.2rem);

    --red: #DF0B36;
    --green: #03A262;
    --blue: #070B9A;
    --black: #000;
    --white: #FFF;
    --gray: #F0F0F0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;

    --max-width: 40rem;
}

#p .black {
    color: black;
}

#p h1, #p .h1 {
    font-family: Kollektif;
    font-size: var(--font-l);
    font-style: normal;
    font-weight: 400;
    line-height: clamp(2.2rem, calc(2.2rem + (3.3 - 2.2) * ((100vw - 19.4rem) / (66.7 - 19.4))), 3.3rem);
    letter-spacing: clamp(-0.1rem, calc(-0.04rem + (-0.1 - -0.04) * ((100vw - 19.4rem) / (66.7 - 19.4))), -0.04rem);
}

.hero h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#p h2, #p .h2 {
    /* text-align: center; */
    font-family: Kollektif;
    font-size: var(--font-m);
    font-style: normal;
    font-weight: 700;
    line-height: clamp(1.9rem, calc(1.9rem + (2.4 - 1.9) * ((100vw - 19.4rem) / (66.7 - 19.4))), 2.4rem);
    letter-spacing: clamp(-0.044rem, calc(-0.015rem + (-0.044 - -0.015) * ((100vw - 19.4rem) / (66.7 - 19.4))), -0.015rem);
}


#p .section.white-bg {
    h2 {
        color: var(--red);
    }
}

#p .section.green-bg {
    h2, b {
        color: var(--blue);
    }

    p, h3, h4, cvg {
        color: var(--white);
    }
}

#p h2.light #p .h2.light {
    font-weight: 400;
}

#p h4, #p .h4 {
    font-family: Kollektif;
    font-size: var(--font-big);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: clamp(-0.007rem, calc(0rem + (-0.007 - 0) * ((100vw - 19.4rem) / (66.7 - 19.4))), -0rem);

}

#p h3, #p .h3 {
    /* H3 */
    font-family: Kollektif;
    font-size: var(--font-s);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: clamp(-0.007rem, calc(0rem + (-0.007 - 0) * ((100vw - 19.4rem) / (66.7 - 19.4))), -0rem);
}

#p p, #p .p, #p .bold, #p ol li {
    font-variant-numeric: oldstyle-nums proportional-nums;
    font-family: Kollektif;
    font-size: var(--font-p);
    font-style: normal;
    font-weight: 400;
    line-height: clamp(1.2rem, calc(1.2rem + (1.7 - 1.2) * ((100vw - 19.4rem) / (66.7 - 19.4))), 1.7rem);
    letter-spacing: clamp(0.018rem, calc(0.018rem + (0.015 - 0.018) * ((100vw - 19.4rem) / (66.7 - 19.4))), 0.015rem);
}

#p .big {
    font-variant-numeric: oldstyle-nums proportional-nums;
    font-family: Kollektif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-big);
    line-height: clamp(1.3rem, calc(1.3rem + (1.9 - 1.3) * ((100vw - 19.4rem) / (66.7 - 19.4))), 1.9rem);
    letter-spacing: clamp(0.02rem, calc(0.02rem + (0.012 - 0.02) * ((100vw - 19.4rem) / (66.7 - 19.4))), 0.012rem);
}


#p .red {
    color: var(--red);
}

#p .red-bg {
    background-color: var(--red);
}

#p .green {
    color: var(--green);
}

#p .green-bg {
    background-color: var(--green);
}

#p .white {
    color: var(--white);
}

#p .gray-bg {
    background-color: var(--gray);
}

#p .btn-gray {
    background-color: var(--gray);
    color: black;
    padding: var(--spc-m) var(--spc-l);

    &:hover {
        background-color: #ddd;
    }
}

#p .blue {
    color: var(--blue);
}

#p .center {
    text-align: center;
    margin: auto;
}


#p b {
    font-weight: 700;
}

#p .green-bg b {
    color: var(--blue);
}

#p .section {
    padding-block: var(--spc-xxl);
}

#p .narrow {
    max-width: 44.167rem;
}

#p .section.wide {
    box-shadow: 0 0 0 100vmax var(--green);
    clip-path: inset(0 -100vmax);
}

#p .section.left .section-content, #p .section .left {
    max-width: 47.611rem;
}

#p .mbl {
    margin-bottom: var(--spc-l);
}

#p .mbs {
    margin-bottom: var(--spc-s);
}

#p .mbm {
    margin-bottom: var(--spc-m);
}

#p .mbxl {
    margin-bottom: var(--spc-xl);
}

#p .mbxxl {
    margin-bottom: var(--spc-xxl);
}

#p {
    .ptxxl {
        padding-top: var(--spc-xxl);
    }

    .ptxl {
        padding-top: var(--spc-xl);
    }

    .pbxl {
        padding-bottom: var(--spc-xl);
    }

    .pll {
        padding-left: var(--spc-l);
    }
}

#p [class^="btn-"] {
    display: inline-block;
}

#p .btn-flat {
    margin: var(--spc-s) calc(6 * var(--spc-s));
    color: white;
    padding: var(--spc-s);
    border-radius: 0;
    background: #DF0B36;
    transition: background 0.3s ease;
}

#p .btn-blue {
    color: var(--white);
    padding: var(--spc-s) var(--spc-l);
    background-color: var(--blue);
}

#p .btn-arrow, #p .btn-red.btn-arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='30' viewBox='0 0 44 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 27.1104L41 15.0701M41 15.0701L29 3.11035M41 15.0701L2 15.0701' stroke='white' stroke-width='4' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat no-repeat;
    background-position: calc(100% - var(--spc-l)) center;
    padding-right: calc(var(--spc-l) + 24px + var(--spc-l));
}

#p .btn-red {
    background-color: #DF0B36;
    color: var(--white);
    padding: var(--spc-m) var(--spc-l);

    &:hover {
        background-color: oklch(63.48% 0.2847 21.48);

    }
}

#p .btn-red.btn-arrow {
    /*padding-right:*/
}

.bew {
    @media screen and (min-width: 40rem) {
        background-image: url("https://neuedeutsche.org/fileadmin/2024/jpeg-optimizer_el.jpg");
    }
    background-position: right bottom;
    background-repeat: no-repeat;
}

[class^='col'].custom-gutter,
[class*=' col'].custom-gutter {
    /* padding-left: 0px; */
    padding-right: 70px;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#p .image-square img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.card-plus {
    padding: 20px;
}


.btn-flat {
    margin: 10px 60px;
    color: white;
    padding: 20px;
    border-radius: 4px;
    background: #DF0B36;
    transition: background 0.3s ease;
}

.btn-flat:hover {
    background: #ff0033;
    color: white;
}

.banner {
    background-size: cover;
    background-position: center;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}


#p .accordion {
    max-width: 39rem;
    --arrow-width: clamp(1.2rem, calc(1.2rem + (1.5 - 1.2) * ((100vw - 19.4rem) / (66.7 - 19.4))), 1.5rem);;
    --title-bg: #F0F0F0;
    --title-active-bg: #f8f8f8;
    --content-bg: #F0F0F0;
}

#p .accordion p, #p .accordion .accordion-title {
    color: black !important;
}

#p .accordion .accordion-title {
    color: black;
    display: flex;
    align-items: center;
    /*width: 100%;*/
    justify-content: space-between;
    cursor: pointer;
    gap: var(--spc-l);
    text-wrap: balance;
    transition: 0.4s background-color;
    padding: var(--spc-m) var(--spc-l);
    margin: 0;
    background-color: var(--title-bg);
}

#p .accordion .accordion-title:hover {
    background-color: var(--title-active-bg);
}

#p .accordion .accordion-title:after {
    padding-left: var(--spc-m);
    display: inline-block;
    content: " ";
    height: auto;
    width: var(--arrow-width);
    flex-shrink: 0;
    aspect-ratio: 5/3;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 27 19"><path stroke="%23000" stroke-linecap="square" stroke-width="4" d="M3.7 3 14 15 24 3"/></svg>');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: transform 0.5s ease-out;
}

#p .accordion.accordion-is-open.accordion-title {
    background-color: var(--title-active-bg);
}

#p .accordion.accordion-is-open.accordion-title:after {
    transform: rotate(180deg);
}


#p .accordion .accordion-content {
    background-color: var(--content-bg);
    padding-inline: var(--spc-l);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-sizing: border-box;
}

#p .accordion .accordion-content:before,
#p .accordion .accordion-content:after {
    height: var(--spc-m);
    content: " ";
    display: block;
}

#p .accordion .accordion-content img {
    max-width: 15rem;
}

#p dialog {
    max-width: min(60rem, 90%);
    display: none;
    /*position: relative;*/
}

#p dialog * {
    color: black !important;
}

#p dialog[open] {
    display: block;
    overscroll-behavior: contain;
}

#p dialog::backdrop {
    opacity: 0.9;
    background-color: #03A262;
}

#p .acard dialog {
    padding: 0;
    border: none;
}

#p .acard dialog .dialog-content {
    display: grid;
    grid-gap: 1rem;
    grid-auto-rows: revert;
    grid-template-columns: repeat(
                auto-fit,
                minmax(min(100%, 18rem), 1fr)
                );
    max-height: 100%;

}

#p .acard dialog .dialog-text {
    padding: var(--spc-m);
    overflow: auto;
    max-height: 100%;
}


#p dialog button {
    width: var(--spc-l);
    height: var(--spc-l);
    position: absolute;
    right: var(--spc-m);
    top: var(--spc-m);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 44 44"><g filter="url(%23a)"><path fill="%23000" fill-rule="evenodd" d="m21.8 22.7 13.5 13.6.7-.8L22.5 22 36 8.5l-.7-.8-13.5 13.6-14-14L7 8l14 14L7 36l.7.7 14-14Z" clip-rule="evenodd"/></g><defs><filter id="a" width="43" height="43.5" x="0" y=".3" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset/><feGaussianBlur stdDeviation="3.5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow_401_1026"/><feBlend in="SourceGraphic" in2="effect1_dropShadow_401_1026" result="shape"/></filter></defs></svg>')
}

.cards {
    --hover-bg: rgba(255, 255, 255, 0.15);
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(min(100%, 17.3rem), 1fr)
    );
    grid-gap: var(--spc-l);
}

.cards .acard {
    max-width: 17rem;
    box-shadow: 0 0 1px 10px transparent;
    transition: 100ms box-shadow, 100ms background-color;
}

.cards .acard * {
    cursor: pointer;
}


.cards .acard:hover {
    background-color: var(--hover-bg);
    box-shadow: 0 0 1px 10px var(--hover-bg);
}


.cards .card-title {
    display: flex;
    align-items: center;
    /*width: 100%;*/
    justify-content: space-between;
    cursor: pointer;
    gap: var(--spc-l);
    padding: var(--spc-m) var(--spc-m) 0 0;
    margin: 0;
}

.cards .card-title:after {
    padding-left: var(--spc-m);
    display: inline-block;
    content: " ";
    height: auto;
    width: var(--arrow-width);
    flex-shrink: 0;
    aspect-ratio: 1;
    color: red;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 21"><path fill="white" fill-rule="evenodd" d="M9.7 11.2v9.4h1v-9.4H20v-1h-9.3V.6h-1v9.6H0v1h9.7Z" clip-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: transform 0.5s ease-out;
}


.hero {
    display: flex;
    align-items: end;
    min-height: 80vh;
    position: relative;
}

.hero .plogo {
    max-width: var(--spc-xxxl);
    position: absolute;
    top: var(--spc-l);
    right: var(--spc-l);

}

p {
    text-wrap: balance;
}

.link-list {
    display: grid;
    grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, 35ch), 1fr)
  );
    grid-gap: 1rem;

}
