#p {
  --spc-s: 0.556rem;
  --spc-m: calc(2 * var(--spc-s));
  --spc-l: calc(2 * var(--spc-m));
  --spc-xl: calc(2 * var(--spc-l));
  --spc-xxl: calc(2 * var(--spc-xl));
  --font-xs: calc(2 * 0.556rem);
  --font-s: calc(2.5 * 0.556rem);
  --font-m: calc(4 * 0.556rem);
  --font-l: calc(6 * 0.556rem);

  --red: #DF0B36;
  --green: #03A262;
  --blue: #070B9A;
  --black: #000;
  --white: #FFF;
  --gray: #F0F0F0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

#p .red{
  color: var(--red);
}

#p .red-bg{
  background-color: var(--red);
}
#p .green{
  color: var(--green);
}

#p .green-bg{
  background-color: var(--green);
}

#p .white {
  color: var(--white);
}

#p .gray-bg {
  background-color: var(--gray);
}

#p .blue{
  color: var(--blue);
}

#p .center{
  text-align: center;
}

#p h1, #p .h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Kollektif;
  font-size: var(--font-l);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
}

#p h2, #p .h2 {
  /* text-align: center; */
  font-family: Kollektif;
  font-size: var(--font-m);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
}

#p .green-bg h2 {
  color: var(--blue);
}

#p h2.light #p .h2.light{
  font-weight: 400;
}

#p h3, #p .h1 {
  /* H3 */
  font-family: Kollektif;
  font-size: var(--font-s);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.125px;
}

#p h4, #p .h4 {
font-family: Kollektif;
font-size: var(--font-xs);
font-style: normal;
font-weight: 700;
line-height: normal;
}

#p p, #p .p, #p .bold , #p ol li{
font-variant-numeric: oldstyle-nums proportional-nums;
font-family: Kollektif;
font-size: var(--font-s);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 37.5px */
letter-spacing: 0.125px;
}

#p b{
  font-weight: 700;
}

#p .green-bg b {
  color: var(--blue);
}

#p .section{
  padding-block: var(--spc-xxl);
}

#p .section.narrow{
  max-width: 44.167rem;
  margin: auto;
}

#p .section.wide {
  box-shadow: 0 0 0 100vmax var(--green);
  clip-path: inset(0 -100vmax);
}

#p .section.left .section-content {
  max-width: 47.611rem;
}

#p .mbl{
  margin-bottom: var(--spc-l);
}
#p .mbs{
  margin-bottom: var(--spc-s);
}
#p .mbm{
  margin-bottom: var(--spc-m);
}
#p .mbxl{
  margin-bottom: var(--spc-xl);
}

#p .btn-flat{
  margin: var(--spc-s) calc(6 * var(--spc-s));
  color: white;
  padding: var(--spc-s);
  border-radius: 4px;
  background: #DF0B36;
  transition: background 0.3s ease;
}

#p .btn-blue {
  color: var(--white);
  padding: var(--spc-s) var(--spc-l);
  background-color: var(--blue);
}


@font-face {
  font-family: 'Kollektif';
  font-weight: bold;
  font-style: normal;
  src: url('/fileadmin/fnt/Kollektif-Bold.woff2') format('woff2'),url('/fileadmin/fnt/Kollektif-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Kollektif';
  font-weight: bold;
  font-style: italic;
  src: url('/fileadmin/fnt/Kollektif-BoldItalic.woff2') format('woff2'),url('/fileadmin/fnt/Kollektif-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Kollektif';
  font-weight: normal;
  font-style: normal;
  src: url('/fileadmin/fnt/Kollektif-Regular.woff2') format('woff2'),url('/fileadmin/fnt/Kollektif-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-regular.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 600;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-600.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 800;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-800.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-800.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 900;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-900.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-900.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-italic.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 600;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-600italic.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-600italic.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-700italic.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-700italic.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 900;
  src: url('/fileadmin/fnt/vollkorn-v20-latin-900italic.woff2') format('woff2'),url('/fileadmin/fnt/vollkorn-v20-latin-900italic.woff') format('woff');
}

.btn-flat {
  margin: 10px 60px;
  color: white;
  padding: 20px;
  border-radius: 4px;
  background: #DF0B36;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #ff0033;
  color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 696px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.banner h1 {
  font-family: Kollektif;
  margin: 10px 60px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
}

.banner p {
  width: 661px;
  margin: 10px 60px;
  font-family: Kollektif;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
  letter-spacing: -0.8px;
}

.frame10 {
  display: flex;
  padding: 160px 100px;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.frame10 h1 {
  height: 48px;
  color: black;
  text-align: center;
  font-family: Kollektif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
}

.frame10-inside {
  /* padding-top: 20px; */
  width: 795px;
  color: black;
  font-family: Vollkorn;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

.frame10-inside li {
  margin-left: 30px;
}

.frame14 {
  background-color: #03A262;
  padding: 160px 250px 160px 100px;
  justify-content: center;
  align-items: center;
}

.frame16 {
  width: 930px;
}

.frame16 h2 {
  color: rgb(255, 255, 255);
  font-family: Kollektif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  margin-bottom: 40px;
}

.frame16 p {
  color: white;
  font-family: Vollkorn;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

.dropdowna {
  font-family: Kollektif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 705px;
  padding: 19px 43px 19px 40px;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  gap: 34px;
  border: none;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}

.frame11.accordion-is-open .accardeon-arrow {
  transform: rotate(180deg);
}

.frame11 .accardeon-arrow {
  transition: transform 0.5s ease-out;
}

.active, .dropdowna:hover {
  background-color: #ececec;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 1px;
  background-color: #F0F0F0;
  box-shadow: 0px 0px 4px 0px rgba(15, 15, 15, 0.2);
  justify-self: center;
  align-self: center;
  color: #000000;
  font-family: Vollkorn;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  width: 705px;
  justify-content: center;
  gap: 10px;
}


.dropdowna a {
  color: black;
  gap: 34px;
}

.frame11 {
  margin-bottom: 40px;
}

.banner2 {
  padding: 160px 0px 160px 100px;
  /* gap: 10px; */
}

.banner3 {
  display: flex;
  justify-content: space-between;
}

.banner2 h1 {
  font-family: Kollektif;
  /* margin: 10px 60px; */
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
  margin-bottom: 40px;
}

.banner2 h2 {
  color: #000;
  font-family: Kollektif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.375px;
  margin-bottom: 25px;
}

.group22 p {
  font-family: Vollkorn;
  position: absolute;
  width: 799px;
  right: 40;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.bannerimg {
  background-image: url("images/Ellipse-1.png");
  width: 477px;
  height: 477px;
  /* background-size: cover; */
}

.buttonbanner2 {
  background-color: #DF0B36;
  display: inline-flex;
  padding: 19px 43px 19px 40px;
  align-items: center;
  justify-content: space-between;
  gap: 21px;
}

.buttonbanner2 p {
  color: #ffffff;
  font-family: Kollektif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.375px;
}

.buttonbanner2 a {
  color: rgb(255, 255, 255);
}

.coll-item {
  color: #000000;
  font-size: 19px;
}

/*IMPORTANT*/

.coll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  margin-top: 4em;
  position: relative;
}

.coll-header-1 {
  width: 100%;
  height: 29px;
  padding: 8px;
  color: white;
  cursor: pointer;
  font-size: 22px;
}

.coll-content-1 {
  margin-top: 1px;
  display: inline-flex;
  opacity: 0;
  visibility: hidden;
  background-color: #F0F0F0;
  box-shadow: 0px 0px 4px 0px rgba(15, 15, 15, 0.2);
  flex-direction: column;
  justify-self: center;
  align-self: center;
  color: #000000;
  font-family: Vollkorn;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  width: 705px;
  padding: 20px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
